body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #444;
  color: white;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: orange;
}
main {
  padding: 30px;
}

.hero {
  text-align: center;
  margin-bottom: 40px;
}

.hero h2 {
  color: orange;
  margin-bottom: 15px;
}

.hero p {
  max-width: 700px;
  margin: auto;
}
